.layout-content {
  text-align: center;
  padding: 20px;
}

.align-content-left-card {
  display: flex;
  justify-content: right;
}

.align-content-right-card {
  display: flex;
  justify-content: left;
}
